<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567445636078-dhdd7ta8vgm8h373istt9ugbj5h8a9do.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567445636078-dhdd7ta8vgm8h373istt9ugbj5h8a9do</string>
	<key>API_KEY</key>
	<string>AIzaSyBWNW5uzVvUx4Zqlg1LJ6GZi7moyZM4Hp8</string>
	<key>GCM_SENDER_ID</key>
	<string>567445636078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>the-hangman-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>the-hangman-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567445636078:ios:051264cf83cc344729c4ff</string>
</dict>
</plist>